.home {
  background: rgb(111,47,135);
  background: linear-gradient(67deg, rgba(111,47,135,1) 46%, rgba(188,82,231,1) 100%);
  /* padding-top: 80px; */
  height: calc(100vh);
}

.container {
  overflow: hidden;  
  color: white;
  height: 100vh;
  display: flex;
  align-items: center;
}

.titleContainer {
  width: 50%;
}

.headerGroup {
  /* outline: 1px solid red; */
}

.titleContainer h1 {
  font-size: 60px;
}

.titleContainer p {
  font-size: 32px;
}

.home figure {
  width: 50%;
  text-align: center;
}

.home figure img {
  width: 70%;
  
}